<div class="search-container">
  <header class="search-header">
    <h2 class="search-title">Search Gems</h2>
  </header>
  <form class="search-form-container">
    <%= text_field_tag 'query', nil, class: "search-form", placeholder: "Search" %>
    <input type="button" id="search-button" />
  </form>
</div>
